<!DOCTYPE html>
<html>
<head>
<title>Textbox with Button</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="form-container">
        <form action="/" method="post"> 
            <input type="text" placeholder="Enter your text here" name="user_text">
            <button type="submit">Submit</button>
        </form>
        <div class="result-container">
            {% if Result is defined %}
                <h2>Result:</h2>
                <p>{{ Result }}</p>
            {% endif %}
        </div>
    </div>
</body>
</html>